block variables
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= PageTitle
    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text:300,400,500,600,700&display=swap")
    //- script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/script.js")
    script.
      var socket = io();
  body
    include ../partials/header
    block content
    include ../partials/footer