extends ./layouts/main

block variables
    - var PageTitle = 'Front Page'
block content
    div(class="wrapper")
        h1
            | Dashboard
        div.block-wrapper
            div.block-info
                div.block-info__title
                    | Computer Info
                div.block-info__item  
                    strong 
                        | Platform: 
                    | #{process.platform}
                div.block-info__item
                    strong 
                        | Desktop System: 
                    | #{process.env.OS}
                div.block-info__item
                    strong 
                        | Operating system CPU: 
                    |   #{os.arch()}
            div.block-info
                div.block-info__title
                    | CPU Info
                div.block-info__item
                    each val in os.cpus()
                        div.item--each
                            div
                                strong Model: 
                                span= val['model']
        div(class="")
            h2
                | Interective-ram
            div(class="interective-ram")
                div(class="ram-info cicle-block")
                    span#ram-precent(class="ram-info__text")
                p Free RAM.    
        div(class="block-wrapper form-input")
            h2
                | Input
            //- div#ram-precent
            div(class="form-block")
                input(type="text" class="domain-input" name="domain" placeholder="Insert domain name ... ")
                button(type="button" class="search-btn btn")
                    | Search

