extends ./layouts/main

block variables
    - var PageTitle = 'Front Page'
block content
    div(class="wrapper")
        h1
            | Dashboard
        div.block-wrapper
            div.block-info
                div.block-info__title
                    | Computer Info
                div.block-info__item  
                    strong 
                        | Platform: 
                    | #{process.platform}
                div.block-info__item
                    strong 
                        | Desktop System: 
                    | #{process.env.DESKTOP_SESSION}
                div.block-info__item
                    strong 
                        | Operating system CPU: 
                    |   #{os.arch()}
            div.block-info
                div.block-info__title
                    | CPU Info
                div.block-info__item
                    //- script.
                    //-     setInterval(() => console.log(1), 200);
                    each val in os.cpus()
                        div.item--each
                            div
                                strong Model: 
                                span= val['model']