extends ./layouts/main

block variables
    - var PageTitle = 'Front Page'
block content
    h1
        | Info page #{process.platform} - #{os.arch()}
    div.block-info
        | CPU Info
        //- https://stackoverflow.com/questions/9565912/convert-the-output-of-os-cpus-in-node-js-to-percentage
