extends ./layouts/main

block variables
    - var PageTitle = 'Front Page'
block content
    div(class="wrapper")
        h1
            | Dashboard
        div.block-info
            | CPU Info
            | System: #{process.platform}
            | Desktop System: #{process.env.DESKTOP_SESSION}
            | r: #{os.arch()}